<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pos.paylib"
    android:versionCode="204"
    android:versionName="v2.0.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="28" />

</manifest>